<div class="fondo">
    <h1>Temas</h1>
    <div id="carousel2" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel2" data-slide-to="1"></li>
            <li data-target="#carousel2" data-slide-to="2"></li>
            <li data-target="#carousel2" data-slide-to="3"></li>
            <li data-target="#carousel2" data-slide-to="4"></li>
            <li data-target="#carousel2" data-slide-to="5"></li>
            <li data-target="#carousel2" data-slide-to="6"></li>
            <li data-target="#carousel2" data-slide-to="7"></li>
            <li data-target="#carousel2" data-slide-to="8"></li>
            <li data-target="#carousel2" data-slide-to="9"></li>
            <li data-target="#carousel2" data-slide-to="10"></li>
            <li data-target="#carousel2" data-slide-to="11"></li>
            <li data-target="#carousel2" data-slide-to="12"></li>
            <li data-target="#carousel2" data-slide-to="13"></li>
            <li data-target="#carousel2" data-slide-to="14"></li>
            <li data-target="#carousel2" data-slide-to="15"></li>
            <li data-target="#carousel2" data-slide-to="16"></li>
            <li data-target="#carousel2" data-slide-to="17"></li>
            <li data-target="#carousel2" data-slide-to="18"></li>
            <li data-target="#carousel2" data-slide-to="19"></li>
            <li data-target="#carousel2" data-slide-to="20"></li>
            <li data-target="#carousel2" data-slide-to="21"></li>
            <li data-target="#carousel2" data-slide-to="22"></li>
            <li data-target="#carousel2" data-slide-to="23"></li>
            <li data-target="#carousel2" data-slide-to="24"></li>
            <li data-target="#carousel2" data-slide-to="25"></li>
            <li data-target="#carousel2" data-slide-to="26"></li>
            <li data-target="#carousel2" data-slide-to="27"></li>
            <li data-target="#carousel2" data-slide-to="28"></li>
            <li data-target="#carousel2" data-slide-to="29"></li>
            <li data-target="#carousel2" data-slide-to="30"></li>
            <li data-target="#carousel2" data-slide-to="31"></li>
            <li data-target="#carousel2" data-slide-to="32"></li>
            <li data-target="#carousel2" data-slide-to="33"></li>
            <li data-target="#carousel2" data-slide-to="34"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

            <div class="items">
                <div class="carousel-item active" alt="" width="100%" height="100%">
                    <h2>Todo es cuestión de propósito
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>

                </div>
                <div class="carousel-item">
                    <h2>Finanzas Personales
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>

                </div>
                <div class="carousel-item">
                    <h2>Estrategia de Marketing Digital
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Expediente Laboral
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Alta patronal en SUA
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Nóminas
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Sueldos y salarios
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Cálculo de cuotas
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Análisis y solución de problemas
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Habilidades sociales para triunfar
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>LA GESTION AMBIENTAL DE LOS RESIDUOS EN LAS ACTIVIDADES AGROPECUARIOS
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>BIOLOGÍA DE TAMARIXIA TRIOZAE PARASITOIDE DE BACTERICERA COCKERELLI
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Enemigos naturales (Insecta: Hymenoptera) del gusano cogollero Spodoptera frugiperda (J.E. Smith) (Lepidoptera: Noctuidae)
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Experiencias en Campos Experimentales de Maíz Híbrido y GMO's
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Chile Piquín: aspectos ecológicos hacia su manejo integral, diversidad fitoquímica y productos derivados
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>TRANSVERSALIDAD AMBIENTAL DE LA AGENDA 2030 PARA EL DESARROLLO SUSTENTABLE
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Aptitudes y Competencias Corporativas
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Taller de Desarrollo Sustentable
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Experiencia laboral en Mabe
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>8 D'S
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Taller de Elaboración VSM
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Taller HACCCP
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Producción en la Industria Automotriz
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Reconocimiento de Objetos 3D mediante tecnicas de curvatura en superficies e inteligencia artificial
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Industria 4.0
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Taller Autocad
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Taller de Redes Neuronales
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Balance Score Card
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Taller de Seguridad Industrial NOM 017
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>El Ingeniero Industrial en el Entorno Laboral
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Conversión catalítica de emisiones contaminantes de motores Diesel: una aplicación de la Ingeniería Química
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Obtención de aceites esenciales
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Introducción a la Técnica PCR
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Polihidroxialcanoatos, ¿el sustituto ideal de los plásticos?
                        <span class="badge badge-icono">
                            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        </span>
                    </h2>
                </div>
            </div>

        </div>

        <!--Controles NEXT y PREV-->
        <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>