<footer>
    <div class="container">
        
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="row justify-content-center">
                        <div data-aos="fade-up">
                            <a class="navbar-brand" href="#">
                        <img src="../../assets/images/logo-congreso.png" width="150" height="90" alt=""
                            loading="lazy">
                    </a>
                        </div>
                         
                    </div>
                   
                </div>
                <div class="col-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row justify-content-around">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div data-aos="fade-up">
                                <h6>Dirección</h6>
                            <p>K.m 6.7, México 85, 89930 Quintero, Tamps.</p>
                            </div>
                            
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div data-aos="fade-up">
                                <h6>Contacto</h6>
                            <p>831 233 6670</p>
                            <div class="row justify-content-center">
                                <a href=""><i class="fab fa-facebook "></i> </a>
                                <a href=""><i class="fab fa-linkedin ml-2"></i> </a>
                                <a href=""><i class="fab fa-youtube ml-2"></i></a>
                            </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

    </div>
</footer>