<nav class="navbar navbar-expand-lg  navbar-light ">
    <a class="navbar-brand" href="#">
        <img src="../../assets/images/logo-itsm.png" width="80" height="50" alt="" loading="lazy">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav m-auto">
            <a class="nav-link" href=""> <i class="fas fa-home"></i> Inicio</a>
            <a class="nav-link" href=""> <i class="fas fa-address-card"></i> Registro</a>
            <a class="nav-link" href=""> <i class="fab fa-creative-commons-share"></i> Actividades</a>
            <a class="nav-link" href=""> <i class="fas fa-user-tie"></i> Conferencistas</a>
            <a class="nav-link" href=""> <i class="fas fa-question-circle"></i> FAQs</a>
            <a class="nav-link" href=""> <i class="fas fa-mail-bulk"></i> Contacto</a>
        </div>


    </div>
    <a class="navbar-brand m-auto d-none d-lg-block d-md-none d-sm-none d-xs-none" href="#">
        <img src="../../assets/images/logo-tam-color.png" width="80" height="40" alt="" loading="lazy">
    </a>

</nav>