<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-3  d-none col-sm-3 col-xs-3 d-lg-block d-md-none d-sm-none d-xs-none">
            <div class="img-registro">
                <div class="container">
                    <div class="row justify-content-center">
                        <h1>Registrate</h1>
                    </div>
                    <div class="row justify-content-center">
                        <p>Y vive la experiencia del <span> Congreso </span> </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div class="login">

                <div class="row justify-content-center">
                    <h4>Ingrese los datos para registrarse</h4>

                </div>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="nombre">Nombre</label>
                                <div class="input-group">
                                    <i class="fas fa-user-alt icon"></i>
                                    <Input type="text" class="form-control" id="nombre" placeholder="Nombre completo">
                                </div>
                            </div>



                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="password">Fecha de nacimiento</label>
                                <div class="input-group">
                                    <i class="fas fa-calendar icon"></i>
                                    <input type="date" class="form-control" id="password"
                                        placeholder="Fecha de nacimiento">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">

                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="juez">Sexo</label>
                                <div class="input-group">
                                    <i class="fas fa-child icon"></i>
                                    <select name="" id="" class="form-control">
                                        <option value="Valor2">Masculino</option>
                                        <option value="Valor2">Femenino</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="password">País</label>
                                <div class="input-group">
                                    <i class="fas fa-flag icon"></i>
                                    <select type="email" class="form-control" id="password"
                                        placeholder="Pais de origen">
                                        <option value="Valor2">México</option>
                                        <option value="Valor2">Colombia</option>
                                        <option value="Valor2">Chile</option>
                                        <option value="Valor2">Peru</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class=" form-row">
                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="password">Estado</label>
                                <div class="input-group">
                                    <i class="fas fa-city icon"></i>
                                    <select type="email" class="form-control" id="password"
                                        placeholder="Estado de origen">
                                        <option value="Valor2">Tamaulipas</option>
                                        <option value="Valor2">Guadalajara</option>
                                        <option value="Valor2">Zacatectas</option>
                                        <option value="Valor2">Chiapas</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="email">Correo eléctronico</label>
                                <div class="input-group">
                                    <i class="fas fa-at icon"></i>
                                    <input type="email" class="form-control" id="password"
                                        placeholder="Correo electronico">

                                </div>
                            </div>

                        </div>



                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check1"
                                    (change)="estudiante($event)">
                                <label class="form-check-label" for="check1">Soy estudiante</label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="esEstudiante">
                                <label for="nombre">Carrera</label>
                                <div class="input-group">
                                    <i class="fas fa-user-secret icon"></i>
                                    <Input type="text" class="form-control" id="carrera" placeholder="Carrera">
                                </div>
                            </div>


                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="esEstudiante">
                                <label for="nombre">Semestre</label>
                                <div class="input-group">
                                    <i class="fas fa-sort-numeric-up icon"></i>
                                    <Input type="text" class="form-control" id="semestre" placeholder="Semestre">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="esEstudiante">
                                <label for="nombre">Institución</label>
                                <div class="input-group">
                                    <i class="fas fa-university icon"></i>
                                    <Input type="text" class="form-control" id="semestre"
                                        placeholder="Institución de procedencia">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button class="btn btn-primary btn-block boton-iniciar">Registrarse</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>