<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-3  d-none col-sm-3 col-xs-3 d-lg-block d-md-none d-sm-none d-xs-none">
            <div class="img-registro">
                <div class="container">
                    <h1>Regístrate</h1>
                    <p>¡Y vive la experiencia del <span> Congreso</span>!</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div class="login">
                <div class="row justify-content-center">
                    <h4>Ingrese los datos para registrarse</h4>
                </div>

                <hr>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <form [formGroup]="formRegistro">

                        <div class="form-row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="nombre">Nombre</label>
                                <div class="input-group">
                                    <i class="fas fa-user-alt icon"></i>
                                    <input formControlName="nombreCompleto" type="text" class="form-control" id="nombre" placeholder="Nombre completo">
                                </div>
                            </div>



                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="password">Fecha de nacimiento</label>
                                <div class="input-group">
                                    <i class="fas fa-calendar icon"></i>
                                    <input formControlName="fechaNacimiento" type="date" class="form-control" id="password" placeholder="Fecha de nacimiento">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">

                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="juez">Sexo</label>
                                <div class="input-group">
                                    <i class="fas fa-child icon"></i>
                                    <select formControlName="sexo" name="" id="" class="form-control">
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="password">País</label>
                                <div class="input-group">
                                    <i class="fas fa-flag icon"></i>
                                    <select formControlName="paisProcedencia" type="email" class="form-control" id="password" placeholder="Pais de origen">
                                        <option value="Valor1">México</option>
                                        <option value="Valor2">Argentina</option>
                                        <option value="Valor3">Bolivia</option>
                                        <option value="Valor4">Brasil</option>
                                        <option value="Valor5">Chile</option>
                                        <option value="Valor6">Colombia</option>
                                        <option value="Valor7">Costa Rica</option>
                                        <option value="Valor8">Cuba</option>
                                        <option value="Valor9">Ecuador</option>
                                        <option value="Valor10">El Salvador</option>
                                        <option value="Valor11">Guatemala</option>
                                        <option value="Valor12">Honduras</option>
                                        <option value="Valor13">Nicaragua</option>
                                        <option value="Valor14">Panamá</option>
                                        <option value="Valor15">Paraguay</option>
                                        <option value="Valor16">Perú</option>
                                        <option value="Valor17">Puerto Rico</option>
                                        <option value="Valor18">República Dominicana</option>
                                        <option value="Valor19">Uruguay </option>
                                        <option value="Valor20">Venezuela</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class=" form-row">
                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="password">Estado</label>
                                <div class="input-group">
                                    <i class="fas fa-city icon"></i>
                                    <input formControlName="estadoProcedencia" type="Text" class="form-control" id="password" placeholder="Estado de origen">
                                </div>
                            </div>



                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="email">Correo electrónico</label>
                                <div class="input-group">
                                    <i class="fas fa-at icon"></i>
                                    <input formControlName="correo" type="email" class="form-control" id="password" placeholder="Correo electrónico">

                                </div>
                            </div>

                        </div>



                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check1" (change)="estudiante($event)">
                                <label class="form-check-label" for="check1">Soy estudiante</label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="esEstudiante">
                                <label for="nombre">Carrera</label>
                                <div class="input-group">
                                    <i class="fas fa-user-secret icon"></i>
                                    <input formControlName="carrera" type="text" class="form-control" id="carrera" placeholder="Carrera">
                                </div>
                            </div>


                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="esEstudiante">
                                <label for="nombre">Semestre</label>
                                <div class="input-group">
                                    <i class="fas fa-sort-numeric-up icon"></i>
                                    <input formControlName="semestre" type="text" class="form-control" id="semestre" placeholder="Semestre">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="esEstudiante">
                                <label for="nombre">Institución</label>
                                <div class="input-group">
                                    <i class="fas fa-university icon"></i>
                                    <input formControlName="institutoProcedencia" type="text" class="form-control" id="semestre" placeholder="Institución de procedencia">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button class="btn btn-primary btn-block boton-iniciar" (click)="enviarCorreo()">Registrarse</button>

                        </div>

                    </form>

                </div>

            </div>

        </div>
    </div>