<div class="contacto">
    <div class="container">
        <div data-aos="fade-right">
            <div class="col-12">
                <h2> <span class="badge badge-contacto"> <i class="fas fa-mail-bulk"></i> </span> Contacto</h2>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-3 col-md-2 d-none d-lg-block d-md-block d-sm-none d-xs-none"></div>
            <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
    
                    <h6>Si tienes dudas o comentarios ¡Contáctanos!</h6>

                    <form [formGroup] = "formContacto">
                        <div class="form-group">
                            <input formControlName = "nombre" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Nombre">
                        </div>
    
                        <div class="form-group">
                            <input formControlName="correo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Correo">
                        </div>
    
                        <div class="form-group">
                            <textarea formControlName="mensaje" class="form-control" placeholder="Mensaje" id="textareaMensaje" rows="4"></textarea>
                        </div>
    
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-enviar" (click)="enviarDudas()" >Enviar <i
                                    class="fas fa-arrow-circle-right"></i></button>
                        </div>
                    </form>
                 
                
            </div>
            <div class="col-lg-3 col-md-2 d-none d-lg-block d-md-block d-sm-none d-xs-none"></div>
        </div>


    </div>


</div>