<!-- isc -->
<swal class="swal-wide" #swalidISC title="Información del conferencista" [swalOptions]="{customClass: 'clase'}">
    <div *swalPortal>
        <div>
            <div>
                <div class="row justify-content-center">
                    <img class="imagen-detalles" [src]="conferencistaFiltradoISC.img"   alt="">
                </div>
                <table  class="table table-light">
                    <thead>
                        <tr>
                            <th>
                                <div class="row">
                                    Nombre:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoISC.nombre}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Tema:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoISC.Temas}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Tipo:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoISC.tipo}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Descripción:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoISC.descripcion}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Día:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoISC.dia}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Hora:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoISC.hora}}</td>
                        </tr>
                       
                    </thead>
                </table>
            </div>
           
        </div>
    </div>
</swal>

<!-- ige -->
<swal class="swal-wide" #swalidIGE title="Información del conferencista" [swalOptions]="{customClass: 'clase'}">
    <div *swalPortal>
        <div>
            <div>
                <div class="row justify-content-center">
                    <img class="imagen-detalles" [src]="conferencistaFiltradoIGE.img"   alt="">
                </div>
                <table  class="table table-light">
                    <thead>
                        <tr>
                            <th>
                                <div class="row">
                                    Nombre:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIGE.nombre}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Tema:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIGE.Temas}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Tipo:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIGE.tipo}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Descripción:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIGE.descripcion}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Día:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIGE.dia}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Hora:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIGE.hora}}</td>
                        </tr>
                       
                    </thead>
                </table>
            </div>
           
        </div>
    </div>
</swal>

<!-- ind -->
<swal class="swal-wide" #swalidIND title="Información del conferencista" [swalOptions]="{customClass: 'clase'}">
    <div *swalPortal>
        <div>
            <div>
                <div class="row justify-content-center">
                    <img class="imagen-detalles" [src]="conferencistaFiltradoIND.img"   alt="">
                </div>
                <table  class="table table-light">
                    <thead>
                        <tr>
                            <th>
                                <div class="row">
                                    Nombre:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIND.nombre}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Tema:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIND.Temas}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Tipo:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIND.tipo}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Descripción:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIND.descripcion}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Día:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIND.dia}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Hora:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIND.hora}}</td>
                        </tr>
                       
                    </thead>
                </table>
            </div>
           
        </div>
    </div>
</swal>


<!-- iq -->
<swal class="swal-wide" #swalidIQ title="Información del conferencista" [swalOptions]="{customClass: 'clase'}">
    <div *swalPortal>
        <div>
            <div>
                <div class="row justify-content-center">
                    <img class="imagen-detalles" [src]="conferencistaFiltradoIQ.img"   alt="">
                </div>
                <table  class="table table-light">
                    <thead>
                        <tr>
                            <th>
                                <div class="row">
                                    Nombre:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIQ.nombre}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Tema:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIQ.Temas}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Tipo:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIQ.tipo}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Descripción:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIQ.descripcion}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Día:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIQ.dia}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Hora:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIQ.hora}}</td>
                        </tr>
                       
                    </thead>
                </table>
            </div>
           
        </div>
    </div>
</swal>


<!-- iias -->
<swal class="swal-wide" #swalidIIAS title="Información del conferencista" [swalOptions]="{customClass: 'clase'}">
    <div *swalPortal>
        <div>
            <div>
                <div class="row justify-content-center">
                    <img class="imagen-detalles" [src]="conferencistaFiltradoIIAS.img"   alt="">
                </div>
                <table  class="table table-light">
                    <thead>
                        <tr>
                            <th>
                                <div class="row">
                                    Nombre:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIIAS.nombre}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Tema:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIIAS.Temas}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Tipo:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIIAS.tipo}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Descripción:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIIAS.descripcion}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Día:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIIAS.dia}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Hora:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoIIAS.hora}}</td>
                        </tr>
                       
                    </thead>
                </table>
            </div>
           
        </div>
    </div>
</swal>


<!-- iias -->
<swal class="swal-wide" #swalidMag title="Información del conferencista" [swalOptions]="{customClass: 'clase'}">
    <div *swalPortal>
        <div>
            <div>
                <div class="row justify-content-center">
                    <img class="imagen-detalles" [src]="conferencistaFiltradoMag.img"   alt="">
                </div>
                <table  class="table table-light">
                    <thead>
                        <tr>
                            <th>
                                <div class="row">
                                    Nombre:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoMag.nombre}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Tema:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoMag.Temas}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Tipo:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoMag.tipo}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Descripción:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoMag.descripcion}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Día:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoMag.dia}}</td>
                        </tr>
    
                        <tr>
                            <th>
                                <div class="row">
                                    Hora:
                                </div>
                            </th>
                            <td>{{conferencistaFiltradoMag.hora}}</td>
                        </tr>
                       
                    </thead>
                </table>
            </div>
           
        </div>
    </div>
</swal>





<div class="conferencistas">
    <div class="container">
        <div class="col-12">
            <h2> <span class="badge-conferencista"> <i class="fas fa-hand-holding-heart"></i> </span> Conferencistas
            </h2>
        </div>

        <div class="col-12">

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <!-- Controles -->
                <div class="carousel-controls">
                    <a class="left carousel-control-prev" href="#carouselExampleControls" role="button"
                        data-slide="prev">
                        <i style="color: #41B4E5; font-size:25px" class="fas fa-arrow-circle-left"
                            aria-hidden="true"></i>
                    </a>
                    <a class="right carousel-control-next" href="#carouselExampleControls" role="button"
                        data-slide="next">
                        <i style="color: #41B4E5; font-size:25px" class="fas fa-arrow-circle-right"
                            aria-hidden="true"></i>
                    </a>
                </div>

                <div class="carousel-inner">
                    <!-- carusel sistemas -->
                    <div class="carousel-item active">
                        <div class="col-12">
                            <h2 class="text-center">ISC</h2>
                        </div>
                        <div class="row justify-content-center" style="background-color: white;">
                            <div class="col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-3 mt-3"
                                *ngFor="let conferencista of conferencistasISC">
                                <div class="card align-items-center">
                                    <img *ngIf="conferencista.img!=='none'" class="card-img-top"
                                        src="{{conferencista.img}}" alt="Card image cap">
                                    <div *ngIf="conferencista.img==='none'"
                                        class="avatar-circle d-flex align-items-center justify-content-center">
                                        <h1 style="color: white;">{{conferencista.inicial}}</h1>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{conferencista.nombre}}</h5>
                                        <p class="card-text"> <span class="tipo"> {{conferencista.tipo}}: </span>
                                            {{conferencista.Temas}}</p>
                                    </div>
                                    <button class="detalles btn ver" (click)="mostrarDetallesISC($event,conferencista.id)">Detalles</button>
                                </div>


                            </div>

                        </div>


                    </div>

                    <!-- Carusel ige -->
                    <div class="carousel-item">
                        <div class="row justify-content-center" style="background-color: white;">
                            <div class="col-12">
                                <h2 class="text-center">IGE</h2>
                            </div>
                            <div class="col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-3 mt-3"
                                *ngFor="let conferencista of conferensistasIGE">
                                <div class="card d-flex align-items-center">
                                    <img *ngIf="conferencista.img!=='none'" class="card-img-top"
                                        src="{{conferencista.img}}" alt="Card image cap">
                                    <div *ngIf="conferencista.img==='none'"
                                        class="avatar-circle d-flex align-items-center justify-content-center">
                                        <h1 style="color: white;">{{conferencista.inicial}}</h1>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{conferencista.nombre}}</h5>
                                        <p class="card-text"> <span class="tipo"> {{conferencista.tipo}}: </span>
                                            {{conferencista.Temas}}</p>
                                    </div>
                                    <button class="detalles btn ver" (click)="mostrarDetallesIGE($event,conferencista.id)">Detalles</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Carusel industrial -->
                    <div class="carousel-item">
                        <div class="row justify-content-center" style="background-color: white;">
                            <div class="col-12">
                                <h2 class="text-center">IND</h2>
                            </div>
                            <div class="col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-3 mt-3"
                                *ngFor="let conferencista of conferencistasIND">
                                <div class="card d-flex align-items-center">
                                    <img *ngIf="conferencista.img!=='none'" class="card-img-top"
                                        src="{{conferencista.img}}" alt="Card image cap">
                                    <div *ngIf="conferencista.img==='none'"
                                        class="avatar-circle d-flex align-items-center justify-content-center">
                                        <h1 style="color: white;">{{conferencista.inicial}}</h1>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{conferencista.nombre}}</h5>
                                        <p class="card-text"> <span class="tipo"> {{conferencista.tipo}}: </span>
                                            {{conferencista.Temas}}</p>
                                    </div>
                                    <button class="detalles btn ver" (click)="mostrarDetallesIND($event,conferencista.id)">Detalles</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Carusel IIAS -->
                    <div class="carousel-item">
                        <div class="row justify-content-center" style="background-color: white;">
                            <div class="col-12">
                                <h2 class="text-center">IIAS</h2>
                            </div>
                            <div class="col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-3 mt-3"
                                *ngFor="let conferencista of conferencistasIIAS">
                                <div class="card d-flex align-items-center">
                                    <img *ngIf="conferencista.img!=='none'" class="card-img-top"
                                        src="{{conferencista.img}}" alt="Card image cap">
                                    <div *ngIf="conferencista.img==='none'"
                                        class="avatar-circle d-flex align-items-center justify-content-center">
                                        <h1 style="color: white;">{{conferencista.inicial}}</h1>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{conferencista.nombre}}</h5>
                                        <p class="card-text"> <span class="tipo"> {{conferencista.tipo}}: </span>
                                            {{conferencista.Temas}}</p>
                                    </div>
                                    <button class="detalles btn ver" (click)="mostrarDetallesIIAS($event,conferencista.id)">Detalles</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Carusel quimica -->
                    <div class="carousel-item">
                        <div class="row justify-content-center" style="background-color: white;">
                            <div class="col-12">
                                <h2 class="text-center">IQ</h2>
                            </div>
                            <div class="col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-3 mt-3"
                                *ngFor="let conferencista of conferencistasIQ">
                                <div class="card d-flex align-items-center">
                                    <img *ngIf="conferencista.img!=='none'" class="card-img-top"
                                        src="{{conferencista.img}}" alt="Card image cap">
                                    <div *ngIf="conferencista.img==='none'"
                                        class="avatar-circle d-flex align-items-center justify-content-center">
                                        <h1 style="color: white;">{{conferencista.inicial}}</h1>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{conferencista.nombre}}</h5>
                                        <p class="card-text"> <span class="tipo"> {{conferencista.tipo}}: </span>
                                            {{conferencista.Temas}}</p>
                                    </div>
                                    <button class="detalles btn ver" (click)="mostrarDetallesIQ($event,conferencista.id)">Detalles</button>


                                </div>
                            </div>

                        </div>
                    </div>

                     <!-- Carusel magistrales -->
                     <div class="carousel-item">
                        <div class="row justify-content-center" style="background-color: white;">
                            <div class="col-12">
                                <h2 class="text-center">Magistral</h2>
                            </div>
                            <div class="col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-3 mt-3"
                                *ngFor="let conferencista of conferensistasMagistral">
                                <div class="card d-flex align-items-center">
                                    <img *ngIf="conferencista.img!=='none'" class="card-img-top"
                                        src="{{conferencista.img}}" alt="Card image cap">
                                    <div *ngIf="conferencista.img==='none'"
                                        class="avatar-circle d-flex align-items-center justify-content-center">
                                        <h1 style="color: white;">{{conferencista.inicial}}</h1>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{conferencista.nombre}}</h5>
                                        <p class="card-text"> <span class="tipo"> {{conferencista.tipo}}: </span>
                                            {{conferencista.Temas}}</p>
                                    </div>
                                    <button class="detalles btn ver" (click)="mostrarDetallesMag($event,conferencista.id)">Detalles</button>


                                </div>
                            </div>

                        </div>
                    </div>


                </div>

                <!-- Controles -->
                <div class="carousel-controls">
                    <a class="left carousel-control-prev" href="#carouselExampleControls" role="button"
                        data-slide="prev">
                        <i style="color: #41B4E5; font-size:25px" class="fas fa-arrow-circle-left"
                            aria-hidden="true"></i>
                    </a>
                    <a class="right carousel-control-next" href="#carouselExampleControls" role="button"
                        data-slide="next">
                        <i style="color: #41B4E5; font-size:25px" class="fas fa-arrow-circle-right"
                            aria-hidden="true"></i>
                    </a>
                </div>

                <!-- carusel -->
            </div>
        </div>

    </div>