
.card-img-top {
    border-radius: 100em;
    width: 150px;
    height: 150px;
}

.avatar-circle {
    background-color: #41B4E5;
    width: 150px;
    height: 150px;
    border-radius: 100em;
}
.card {
    border: none;
    font-size: 15px;
}

.img-header {
    width: 100px;
}

.conferencistas{
    margin-top: 5em;
    margin-bottom: 5em;
}


.badge-conferencista {
    background-color: #41B4E5;
    color: #fff;
    border-radius: 160px;
}

h2{
    color: rgb(70, 70, 70);
    font-weight: 400;
}
.carousel-control-next-icon {
    background-color: #41B4E5;

}
.carousel-control-prev-icon {
    background-color: #41B4E5;
}
.carousel-controls{
    position:relative; 
    width:200px;
    top: 20px;
    margin:0 auto;
}

p, h5{
    text-align: center;
}



img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.5s;
}

img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}