.card-img-top {
    border-radius: 100em;
    width: 120px;
    height: 120px;
}

.avatar-circle {
    background-color: #41B4E5;
    width: 120px;
    height: 120px;
    border-radius: 100em;
}
.card {
    border: none;
    font-size: 15px;
}

 
.conferencistas{
    margin-top: 5em;
    margin-bottom: 5em;
}


.badge-conferencista {
    background-color: #41B4E5;
    color: #fff;
    border-radius: 160px;
}

h2{
    color: rgb(70, 70, 70);
    font-weight: 400;
    font-size: 20px;
}
.carousel-control-next-icon {
    background-color: #41B4E5;

}
.carousel-control-prev-icon {
    background-color: #41B4E5;
}
.carousel-controls{
    position:relative; 
    width:200px;
    top: 20px;
    margin:0 auto;
}

p, h5{
    text-align: center;
}



img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.5s;
}

img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

 
.avatar-circle {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.5s;
}

.avatar-circle:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

 
.tipo{
    color: #41B4E5;
    font-weight: bold;
}


.detalles{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.ver{
    background-color: #fff;
    color: #41B4E5;
    border: 1px solid #41B4E5;
}
.ver:hover{
    background-color: #97C93C;
    color: #fff;
    border: 1px solid #97C93C;
}

.imagen-detalles{
    width: 150px;
    border-radius: 100px;
}