 
h2 {
    color: #fff;
    font-weight: 400;
}

p {
    color: #fff;
    font-weight: 300;
    text-align: justify;
}

.badge-talleres {
    background-color: #fff;
    color: #41b4e5;
    border-radius: 150px;
}

.talleres {
    background-color: #41b4e5;
    padding: 50px;
}

