 
h2 {
    color: #fff;
    font-weight: 400;
}

p {
    color: #fff;
    font-weight: 300;
    text-align: justify;
}

.badge-talleres {
    background-color: #fff;
    color: #41b4e5;
    border-radius: 150px;
}

.talleres {
    background-color: #41b4e5;
    padding: 50px;
}

 


.talleres-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.talleres-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.talleres-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}


 
 