<div class="brindado">
<div class="container">
   <div data-aos="fade-right">
        <div class="col-12">
            <h2> <span class="badge-brindado"> <i class="fas fa-hand-holding-heart"></i> </span> Brindado por:</h2>
        </div>

        <div class="col-12">
            <div class="row justify-content-center">
                <div data-aos="fade-up">
                    <img src="assets/images/logo-itsm.png" alt="logo-tec" class="tamaño-logo">
                </div>
            </div>
        </div>
</div> 
</div>

</div>
