h2 {
    color: rgb(70, 70, 70);
    font-weight: lighter;
}

.badge-brindado {
    background-color: #41B4E5;
    color: #fff;
    border-radius: 160px;
}

.brindado {
    padding: 50px;
}

.tamaño-logo {
    width: 100%;
    height: 100%;
}