h2 {
    color: rgb(70, 70, 70);
    font-weight: 400;
}

.badge-brindado {
    background-color: #41B4E5;
    color: #fff;
    border-radius: 160px;
}

.brindado {
    padding: 100px;
}

.tamaño-logo {
    width: 200px;
    height: 100px;
}

img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.5s;
}

img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}