<div class="brindado">
    <div class="container">
        <div data-aos="fade-right">
            <div class="col-12">
                <h2> <span class="badge-brindado"> <i class="fas fa-hand-holding-heart"></i> </span> Brindado por:</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2 d-none d-lg-block d-md-block d-sm-none d-xs-none"></div>
            <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                <div data-aos="fade-up">
                    <img src="assets/images/logo-itsm.png" alt="logo-tec" class="tamaño-logo">
                </div>

            </div>
            <div class="col-lg-3 col-md-2 d-none d-lg-block d-md-block d-sm-none d-xs-none"></div>
        </div>