<div class="objetivo">
    <div class="container">
        <div class="col-12">
            <div data-aos="fade-up-right">
                <h2>Objetivos del <span> congreso </span> </h2>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row justify-content-center">
                        <img class="imagen-ilustracion" src="../../assets/images/tecnologia.svg" alt="">
                    </div>
                    <p>
                        Desarrollar vocaciones científicas y tecnológicas a través de actividades en las que se
                        difundan conocimientos tecnológicos y científicos en tendencia.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row justify-content-center">
                        <img class="imagen-ilustracion" src="../../assets/images/conocimiento.svg" alt="">
                    </div>
                    <p>
                        Generar la vinculación con docentes, investigadores e industriales para el intercambio de
                        experiencias, conocimientos y desarrollo de proyectos.
                    </p>
                </div>



            </div>


        </div>

    </div>
</div>