 
.objetivo{
    background-image: url(../../../assets/images/portada-objetivo.png);
    background-size: cover;
    padding: 70px;
}

h2{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

 
p{
    color: #fff;
    font-weight: normal;
    text-align: center;
}
.imagen-ilustracion{
    width: 200px;
    height: 100px;
}

span{
    color: #41B4E5;
}
