<div class="objetivo">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div data-aos="fade-right">
                    <img src="../../assets/images/logo-congreso.png" width="200" height="120" alt="" loading="lazy">
                </div>
                <div data-aos="fade-up-right">
                    <h2>Objetivos del congreso</h2>
                </div>
                <div data-aos="fade-up-left">
                    <p>
                        Desarrollar vocaciones científicas y tecnológicas a través de actividades en las que se
                        difundan conocimientos tecnológicos y científicos en tendencia.
                        
                    </p>
                    <p>
                        Generar la vinculación con docentes, investigadores e industriales para el intercambio de
                        experiencias, conocimientos y desarrollo de proyectos.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>