 
.card {
    border-radius: 20px;
    background-color: #97C93C;
}

.collapse {
    background-color: white;
}

.card-header {
    border-radius: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a {
    position: relative;
    display: block;
    padding: 5px;
    font-size: 18px;
}

a:hover {
    color: #0163A8;
}

h2{
    color: rgb(70, 70, 70);
    font-weight: 400;
}


.badge-preguntas{
    background-color: #41B4E5;
    color: #fff;
    border-radius: 160px;
}

.faqs{
    padding: 20px;
}

.tamaño-logo{
    margin-top: 10px;
    border-radius: 100em;
    width: 150px;
}

img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.5s;
}

img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}