@font-face {
    font-family: Helvetica;
    src: url('../../../assets/fonts/Helvetica.ttf');
}

* {
    font-family: 'Helvetica';
}

.card {
    border-radius: 20px;
    background-color: #97C93C;
}

.collapse {
    background-color: white;
}

.card-header {
    border-radius: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a {
    position: relative;
    display: block;
    padding: 5px;
    font-size: 18px;
}

a:hover {
    color: #0163A8;
}

h2{
    color: rgb(70, 70, 70);
    font-weight: lighter;
}


.badge-preguntas{
    background-color: #41B4E5;
    color: #fff;
    border-radius: 160px;
}

.faqs{
    padding: 20px;
}