<div class="faqs">
    <div class="container mb-3">
        <h2> <span class="badge-preguntas"> <i class="fas fa-question-circle"></i> </span> Preguntas frecuentes</h2>
        <div class="row">

            <div class="col-lg-2 col-md-3  d-none col-sm-3 col-xs-3 d-lg-block d-md-none d-sm-none d-xs-none"></div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <section class="info col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="accordion md-accordion mt-5" id="accordionEx" role="tablist" aria-multiselectable="true">
                        <div class="card mt-2">
                            <div class="card-header" role="tab" id="headingOne1">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                    <a class="mb-0">
                                        ¿En qué fechas se llevará a cabo el congreso?
                                    </a>
                                </a>
                            </div>
                            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                <div class="card-body">
                                    El congreso se estará presentando los dias 16, 17, 18 y 19 de Noviembre de 2020.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo2">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                    <a class="mb-0">
                                        ¿Cuál es la fecha límite de registro?
                                    </a>
                                </a>
                            </div>
                            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                                <div class="card-body">
                                    La fecha límite del registro es el dia 15 de noviembre
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree3">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                    <a class="mb-0">
                                        ¿Se entregarán diplomas por participación?
                                    </a>
                                </a>
                            </div>
                            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                                <div class="card-body">
                                    Si, se entregarán al que realice el proceso de registro y será una participación general.
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
            <div class="col-lg-2  d-none col-sm-3 col-xs-3 d-lg-block d-md-none d-sm-none d-xs-none"></div>
        </div>

    </div>

</div>