<div class="container">
    <div data-aos="fade-up">
        <div class="row">
            <section class="info col-lg-12 col-md-6 col-sm-12">

                <div class="titulo mt-5">
                    <h3>Preguntas frecuentes</h3>
                </div>

                <div class="accordion md-accordion mt-5" id="accordionEx" role="tablist" aria-multiselectable="true">

                    <div class="card mt-2">

                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                <a class="mb-0">
                                    ¿En qué fechas se llevará a cabo el congreso?
                                </a>
                            </a>
                        </div>


                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                            <div class="card-body">
                                El congreso se estará presentando los dias 16, 17 y 18 de Noviembre de 2020.
                            </div>
                        </div>

                    </div>

                    <div class="card">

                        <div class="card-header" role="tab" id="headingTwo2">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                <a class="mb-0">
                                    ¿Cuál es la fecha límite de registro?
                                </a>
                            </a>
                        </div>


                        <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                            <div class="card-body">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione similique officiis aliquam voluptas? Enim optio amet aut mollitia omnis ut nam dicta ipsam. Totam quasi error exercitationem neque ex obcaecati?

                            </div>
                        </div>

                    </div>

                    <div class="card">

                        <div class="card-header" role="tab" id="headingThree3">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                <a class="mb-0">
                                    ¿Se entregarán diplomas por participación?
                                </a>
                            </a>
                        </div>


                        <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. A sunt molestias architecto corporis repudiandae impedit assumenda eum nam id, illo consequatur nostrum pariatur ea voluptatum magnam culpa, similique, quidem velit.

                            </div>
                        </div>

                    </div>

                    <div class="card">

                        <div class="card-header" role="tab" id="headingThree4">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                <a class="mb-0">
                                    ¿Cuántas horas de capacitación de acreditarán?
                                </a>
                            </a>
                        </div>


                        <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4" data-parent="#accordionEx">
                            <div class="card-body">

                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis maiores, totam dolor, perspiciatis quibusdam dolores soluta facilis quam sapiente, unde incidunt hic? Culpa dolores voluptatem facere atque laboriosam id esse.
                            </div>
                        </div>

                    </div>

                </div>
            </section>
        </div>
    </div>
</div>