/* You can add global styles to this file, and also import other style files */
html{
    scroll-behavior: smooth;
}

body{
    margin-top: 70px;
    overflow-y: scroll;
}
 
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background:  rgb(0,100,167);
    border-radius: 5px;
}


@font-face {
    font-family: 'Helvetica';
    src: url('/../assets/fonts/Helvetica.ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}